* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*CABEÇALHO*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #f8f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.header__logo img {
    height: 60px;
}

.header__nav {
    flex: 1;
    text-align: center;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.nav__list li a {
    text-decoration: none;
    color: #3207f4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    transition: color 0.3s;
}

.nav__list li a:hover {
    color: #358cf7;
}

/*CONTEUDO*/
.main{
display: flex;
flex-direction: column;
flex: 1;
margin: 0;
padding: 0;
height: 100vh;
overflow: hidden;
}

.main__conteudo-img{
    display: flex;
    align-items: center;
    justify-content:center;
}

.main__conteudo-texto{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #616161;
    text-align: center;
    padding: 1rem;
    line-height: 1.5;
}

/*RODAPÉ*/
.footer {
    background-color: #002366;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.footer__redes-sociais {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin: 0;
}

.footer__redes-sociais ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
}

.footer__redes-sociais li a {
    display: block;
}

.footer__redes-sociais li img {
    max-width: 25px;
    height: auto;
}

.footer__direitos {
    color: white;
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}

.footer__logo-rodape img{
    display: flex;
    align-items: center;
}